{% extends "base.html" %}
{%block body %}

<h2>TOP10</h2>
	<p> 
	here are the top ten scores: (10 duplicated scores, didnt know how to append empty string into the<br>
	table if the time is less than higher one)
	<!--- {{mymyScores}} --> 
	</p>


<table>
	<tr>
		<td>
			Number 1 ----- {{mymyScores[0][0]}}  <b>with time:</b> {{mymyScores[0][2]}}  
		</td>
	</tr>
	<tr>
		<td>
			Number 2 ----- {{mymyScores[0][1]}}  <b>with time:</b> {{mymyScores[0][2]}} 	<!--- to display the next score it would be{{mymyScores[1][1]}}  <b>with time:</b> {{mymyScores[1][2]}}  --> 
		</td>
	</tr>
	<tr>
		<td>
			Number 3 ----- {{mymyScores[0][1]}}  <b>with time:</b> {{mymyScores[0][2]}} 
		</td>
	</tr>
	<tr>
		<td>
			Number 4 ----- {{mymyScores[0][1]}}  <b>with time:</b> {{mymyScores[0][2]}} 
		</td>
	</tr>
	<tr>
		<td>
			Number 5 ----- {{mymyScores[0][1]}}  <b>with time:</b> {{mymyScores[0][2]}} 
		</td>
	</tr>
	<tr>
		<td>
			Number 6 ----- {{mymyScores[0][1]}}  <b>with time:</b> {{mymyScores[0][2]}} 
		</td>
	</tr>
	<tr>
		<td>
			Number 7 ----- {{mymyScores[0][1]}}  <b>with time:</b> {{mymyScores[0][2]}} 
		</td>
	</tr>
	<tr>
		<td>
			Number 8 ----- {{mymyScores[0][1]}}  <b>with time:</b> {{mymyScores[0][2]}} 
		</td>
	</tr>
	<tr>
		<td>
			Number 9 ----- {{mymyScores[0][1]}}  <b>with time:</b> {{mymyScores[0][2]}} 
		</td>
	</tr>
	<tr>
		<td>
			Number 10 ----- {{mymyScores[0][1]}}  <b>with time:</b> {{mymyScores[0][2]}} 
		</td>
	</tr>

</table>
{%endblock %}