{% extends "base.html"%}
{%block body %}

		
		
		


<img src="static/img/flower_contest.png" alt="" id="bg">
<!--	first div	-->
<div class="infobox">
	<h1 id="title">Welcome to Filip's Page</h1>
	<hr id="titleBreak">
	<hr id="sidebar">
	<hr id="sidebar2">
	
		<hr class="detail1">
		<!--	second div	-->
		<div class ="boxInInfoBox">
	
		</div>
				
			<!--	third div	-->
			<div class ="boxForLinks">
				<a href="/warning">
				<h1 class="Tab1">Who am i?</h1>
				</a href>
				
				<a href="/cv">
				<h1 class="Tab2">CV</h1>
				</a href>
				
				<a href="/games">
				<h1 class="Tab3">Games</h1>
				</a href>
				
				<a href="/interests">
				<h1 class="Tab4">Interests</h1>
				</a href>
		
			</div>
</div>	
	

	<!--	Weekly News	-->
<h1 id="WeeklyNews"> Weekly News </h1>
<p id="WeeklyNewsPara">This week's goal is to have a fully<br>
						assembled Esports team.<br>
						There are some teams as to now but<br>
						not enough high skill level<br>
						<br>
						Our goal is to create a efficient<br>
						and coordinated team to win tournaments<br>
						<br>
						We hope for the best!
						</p>
<h1 id="underDoggy">Here's  picture of a doggy to make your day :)</h1>
<img src="static/img/ufo.gif" alt="" class="gif1">
<img src="static/img/dog.jpg" alt="" id="doggy">

		
		
{%endblock %}