{% extends "base.html"%}
{%block body %}
<!--	personal link	-->

		
		
		
		
		<!--	links to be gone	-->
		<a href="/cv">Cv</a><br><br>
		<a href="/games">Games</a><br><br>
		<a href="/interests">Interests</a><br><br>
	

		
<!--	first div	-->
<div class="infobox">
	<h1 id="title">Welcome to Filip's Page</h1>
	<hr id="titleBreak">
	<hr id="sidebar">
	<hr id="sidebar2">
	
		<!--	second div	-->
		<div class ="boxInInfoBox">
		</div>
		
			<!--	third div	-->
			<div class ="boxForLinks">
				<a href="/personal">
				<h1 class="Tab1">Who am i?</h1>
				</a href>
		
			</div>
</div>	
		
		
{%endblock %}